/* middle Search  barr css */
form {
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

form > .textbox {
  outline: 0;
  height: 50px;
  width: 500px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #002f34;
}

form > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

form > .button {
  outline: 0;
  background: none;
  background-color: #002f34;
  float: left;
  height: 50px;
  width: 60px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

form > .button:hover {
  background-color: rgba(0, 150, 136, 0.8);
}


.navbar-collapse{
  margin-left: 350px;
}


.middlesearch{
  margin-left: 15px;
}
/* End Search Barr Css */


/* left search */
._16LoD{

  width: 304px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 6px 9px;
  margin-left: 48px;
}

._1jABB{

border-top-style: none;
border-left-style: none;
border-right-style: none;
border-bottom-style: none;

}

.arrow{

  background-color: rgba(0, 0, 255, 0) !important;
  border: none;
}


/* end left search */


/* olx logo div */
.olxlogo{
  margin-left: 27px;
}


/* message icon */

.messageicon{

  margin-left: 20px;
}

/* notificationicon */

.notificationicon{
  margin-left: 15px;
}

/* navarrow icon */
.navarrow{
  margin-left: 15px;
}




/* sell button */

.sell{


padding: 8px 30px;
border-radius: 25px;
margin-left: 71px;
font-weight: bold;

}

.sell:hover{
  background-color: transparent !important;
  color: black !important;
}

/* navigations option */


.navoptions{

list-style: none;

}

.navoptions li{

  display: inline-block;
  margin: 5px;

}

.dropdown-toggle{
  color: black !important;
}


